Django>=6.0,<7.0
django-jazzmin
django-import-export
psycopg2-binary
django-storages[boto3]
django-ses[events]
django-post-office
django-logentry-admin
gunicorn
Pillow
python-freeipa
django-avatar
pyotp
qrcode
ruff
