{% extends "admin/change_form.html" %}

{% block object-tools-items %}
  {% if change and has_change_permission %}
    <button
      type="submit"
      class="btn btn-block btn-warning btn-sm"
      name="post"
      value="1"
      formaction="{% url 'admin:auth_ipauser_send_password_reset' original.pk %}"
      formmethod="post"
      {% if not has_email %}disabled{% endif %}
      onclick="return confirm('Queue a password reset email for this user?')"
    >
      Reset user's password
    </button>
    {% if has_otp_tokens %}
      <button
        type="submit"
        class="btn btn-block btn-danger btn-sm"
        name="post"
        value="1"
        formaction="{% url 'admin:auth_ipauser_disable_otp_tokens' original.pk %}"
        formmethod="post"
        onclick="return confirm('Disable ALL OTP tokens for this user?')"
      >
        Disable user's OTP tokens
      </button>
    {% endif %}
  {% endif %}
  {{ block.super }}
{% endblock %}
