<div class="card card-body mb-4 px-2 py-3 card-widget widget-group">
  <div class="d-flex align-items-center {{ extra_class }}"{% if extra_style %} style="{{ extra_style }}"{% endif %}>
    <div class="flex-grow-1 ms-2">
      <div class="my-0 font-weight-bold">
        <a href="/group/{{ cn }}/">{{ cn }}</a>
      </div>
      {% if description %}
        <div class="text-muted small text-truncate" style="max-width: 100%;">{{ description|truncatechars:70 }}</div>
      {% endif %}
    </div>
    <div class="flex-shrink-0 ml-2">
      <span class="badge badge-secondary">{{ member_count }}</span>
    </div>
  </div>
</div>
