{% extends 'core/base.html' %}

{% load core_user_grid %}

{% block title %}Users{% endblock %}

{% block header %}
  <h1 class="m-0">Users</h1>
{% endblock %}

{% block content %}
  <div class="card">
    <div class="card-header">
      <div class="card-tools">
        <form method="get" class="input-group input-group-sm" style="width: 220px;">
          <input
            type="text"
            name="q"
            class="form-control float-right"
            placeholder="Search"
            value="{{ q }}"
            aria-label="Search users"
          >
          <div class="input-group-append">
            {% if q %}
              <button
                type="button"
                class="btn btn-default"
                aria-label="Clear search"
                onclick="var i=this.form.querySelector('input[name=\'q\']'); if(i){i.value='';} this.form.submit();"
              >
                <i class="fas fa-times"></i>
              </button>
            {% endif %}
            <button type="submit" class="btn btn-default" aria-label="Search">
              <i class="fas fa-search"></i>
            </button>
          </div>
        </form>
      </div>
    </div>

    <div class="card-body">
      {% user_grid users=users %}
    </div>
  </div>
{% endblock %}
